// пример миксина под резиновый текст:
@mixin fluid-text {
   font-size: clamp(18px, 1.8vw, 20px);
}
@mixin fluid-title {
   font-size: clamp(1.4rem, 2vw, 1.6rem);
   text-align: center;
   margin: 16px;
   font-weight: 600;
}
// миксин резинового блока: 
@mixin responsive-block {
width: 100%;
max-width: 1920px;
@include laptop {
   max-width: $laptop;
}
@include tablet {
   max-width:$tablet;
}
@include mobile {
   max-width: $mobile;
}
@include mobile-s {
   max-width: $mobile-s;
}
}
@mixin visually-hidden {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
 }
 @mixin button-main {
   width: 200px;
   height: 50px;
   margin: 0;
   padding: 10px 2px;
   border-radius: 10px;
   border: none;
   text-align: center;
   color: var(--white-color);
   background-color: var(--light-green-color);
   transition: background 3ms ease-in;
   @include hover {
      background-color: var(--hover-color);
      border: 3px solid var(--white-color);
   }
 
 }